body *{ padding:0px; margin: 0px; }
header { 
	background-color: #4267b2; 
	display: grid;
	grid-template-rows: 1;
	grid-template-columns: 50% 50%;
	min-height: 60px;
}
header div h1 a{ 
		color: white; 
		text-decoration: none;
		position: relative; top: 20px; left:20px;
	}
#signin-form form label {color: white;}
#signin-form form div { display: inline-block; }
#forgotten {color: white;
			padding-left: 13.5em; 
			text-decoration: none;
			font-size:0.7em;
		}
#forgotten:hover{text-decoration: underline;}
section { display: grid;
		grid-template-rows: 1;
		grid-template-columns: 60% 50%;
 }
  footer ul {list-style: none}
  footer ul li {float: left; padding-right:1em;}
  .clear-float{clear: both;}
#input { width: 210px; height: 30px; }
#name {width: 100px; height: 30px;}
form div { padding:0.3em; }
main img { width: 90%;height: auto ;margin: auto; }
main p { text-align: center; }
#submit {
		background-color:#4267b2;
		color: white;
		border-radius: 10px;
		width: 6em;
		height: 3em;

	}